<p><a href="/tech">Tech</a><br />
&rsaquo; <a href="/tech/cicd_tooling">CICD tooling</a><br />
&rsaquo; <a href="/tech/security_tooling">Security Tooling</a><br />
&rsaquo; <a href="/tech/inner_source">Inner Source</a><br />
&rsaquo; <a href="/tech/crapp_to_cloud">Crapp to Cloud</a><br />
</p>
<p><a href="/mgmt">Management</a><br />
&rsaquo; <a href="/mgmt/art_of_communication">Art of Communication</a><br />
&rsaquo; <a href="/mgmt/the_value_of_certifications">Value of Certifications</a><br />
</p>
<p><a href="/terran">Terran</a><br/>
&rsaquo; <a href="/terran/covid_19">Corona</a><br/>
&rsaquo; <a href="/terran/inception">Inception</a><br/>
</p>
<p><a href="https://linkedin.com/in/magnuskiro">CV - Linkedin</a>
</p>
