{% assign sorted_pages = site.pages | sort: "title" %}

<p>
  <a href="{{ '/tech' | relative_url }}"><strong>Tech</strong></a><br />
  {% for p in sorted_pages %}
    {% if p.path contains 'tech/' %}
      &rsaquo; <a href="{{ p.url | relative_url }}">{{ p.title }}</a><br />
    {% endif %}
  {% endfor %}
</p>

<p>
  <a href="{{ '/mgmt' | relative_url }}"><strong>Management</strong></a><br />
  {% for p in sorted_pages %}
    {% if p.path contains 'mgmt/' %}
      &rsaquo; <a href="{{ p.url | relative_url }}">{{ p.title }}</a><br />
    {% endif %}
  {% endfor %}
</p>

<p>
  <a href="{{ '/terran' | relative_url }}"><strong>Terran</strong></a><br />
  {% for p in sorted_pages %}
    {% if p.path contains 'terran/' %}
      &rsaquo; <a href="{{ p.url | relative_url }}">{{ p.title }}</a><br />
    {% endif %}
  {% endfor %}
</p>

<p>
  <a href="https://linkedin.com/in/magnuskiro"><strong>CV - Linkedin</strong></a>
</p>

